body{
    display: grid;
    grid-template-columns: 1fr; 
    grid-auto-rows: auto 1fr;
    grid-template-areas: "header" "title" "main_content" "footer";
    font-family: 'Jost', sans-serif;
    margin: 2rem 6rem; 
    height: 100vh;
}

header{
    grid-area: header;
}

#footer{
    padding-top: 20px;
    grid-area: footer;
    text-align: center;
    font-style: italic;
}



.main{
    grid-area: main_content;
    grid-template-areas: "main_map panel";
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 5rem;

}

#title{
text-align: center; 
}

#the_map{
    height:80vh;
    grid-area: main_map;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));    
}

h1, h2{
    text-align: center;
}

nav {
    display: flex; 
  }

  nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
  }

  nav li {
    margin-right: 10px; 
  }

  nav li:last-child {
    margin-right: 0;
  }

  nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  nav li a:hover{
    font-style: italic;
  }

  nav li a:active{
    text-decoration: underline;
  }


  .panel{ 
    grid-area: panel; 
    overflow: auto; 
    height:80vh; 
    padding:1rem; 
    background-color: #dde7e8;
    display: grid; 
    grid-template-rows: 1fr 5fr;

    grid-area: "buttons content";
  }
  
/* Style the buttons inside the tab */
.panel button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.panel button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.panel button.active {
  background-color: #ccc;
}

.buttons{
  grid-area: buttons; 
}

.contents{
  grid-area: contents;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
}

